.container {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.header-wrapper {
    width:100vh;    
    position:fixed;
    text-align: center;
    padding: 15px 0px;
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
  }

.header-wrapper nav ul {
    list-style-type: none;
    margin: 0px 0px;
    padding-left: 0px;
    font-family: 'necto', monospace;
}

.header-wrapper nav ul li {
    display: inline-block;
    margin-left: 30px;
    font-size: 14px;
}

.header-wrapper nav ul li a {
    color: #FFF;
    text-decoration: none;
}

h1 {
    font-family: 'Airbnb Cereal App Extra Bold', sans-serif;
    color: #FFF;
    /* padding-bottom: 5px;
    border-bottom: 5px solid #F4DBD8; */
}

h2 {
    font-family: 'Airbnb Cereal App Extra Bold', sans-serif;
    color: #FFF;
    font-size: 36px;
}

h3 {
    font-family: 'Airbnb Cereal App Medium';
    font-size: 34px;   
    letter-spacing: 1px;
    color: #FFF;
}

h6 {
    font-family: 'Airbnb Cereal App Medium';
    font-size: 18px;
    color: #F4DBD8;
    letter-spacing: 0.5px;
}

p {
    font-family: 'necto', monospace;
    font-size: 14px;
    color: #FFF;
}

span.pink {
    color: #F4DBD8;
}

section {
    width: 100%;
    height: 100vh;
    background-position:  center;
    background-size: cover;
    background-attachment:  fixed;
 }

.lightbg {
    background-color: #404E5C;
 }

 .darkbg {
    background-color: #333D48;
 }

.hero--wrapper {
    margin: 0px auto 45px;
    padding-bottom: 10px;
    border-bottom: 5px solid #F4DBD8;
}

i {
    font-size: 36px;
    color:#FFF;
    margin-bottom: 15px;
}

.folio-img {
    position: relative;
    height: 200px;
    width: 100;
    background-color: white;
    margin-bottom: 30px;
}

.overlay {
    position: absolute;
    background-color: #F4DBD8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: #fff;
    cursor: pointer;
    transition: opacity 300ms ease;
}

.overlay h6 {
    color: #333D48;
    padding: 20px;
}

.overlay:hover {
    opacity: .75;
}