.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.header-wrapper {
    text-align: center;
}

@media screen and (min-width: 1325px) { 
    .header-wrapper {
        width:100vh;    
        position:fixed;
        text-align: center;
        padding: 15px 0px;
        -webkit-transform-origin: left top;
        -webkit-transform:rotate(-90deg) translateX(-100%);
      }
    }

.header-wrapper nav ul {
    list-style-type: none;
    margin: 0px 0px;
    padding-left: 0px;
    font-family: 'necto', monospace;
}

.header-wrapper nav ul li {
    display: inline-block;
    margin: 20px 15px;
    font-size: 14px;
}

.header-wrapper nav ul li a {
    color: #FFF;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
    transition: all 300ms ease;
}

.header-wrapper nav ul li a:hover {
    border-bottom: 2px solid #F4DBD8;
}

h1 {
    font-family: 'Airbnb Cereal App Extra Bold', sans-serif;
    color: #FFF;
}

h2 {
    font-family: 'Airbnb Cereal App Extra Bold', sans-serif;
    color: #FFF;
    font-size: 36px;
}

h3 {
    font-family: 'Airbnb Cereal App Medium';
    font-size: 34px;   
    letter-spacing: 1px;
    color: #FFF;
}

h6 {
    font-family: 'Airbnb Cereal App Medium';
    font-size: 18px;
    color: #F4DBD8;
    letter-spacing: 0.5px;
}

h6 a {
    color: #F4DBD8;
    transition: all 300ms ease;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
}

h6 a:hover {
    color: #F4DBD8;
    border-bottom: 2px solid #F4DBD8;
    text-decoration: none;
}

p {
    font-family: 'necto', monospace;
    font-size: 14px;
    color: #FFF;
}

span.pink {
    color: #F4DBD8;
}

section {
    width: 100%;
    height: 100vh;
    background-position:  center;
    background-size: cover;
    background-attachment:  fixed;
 }

.lightbg {
    background-color: #404E5C;
 }

 .darkbg {
    background-color: #333D48;
 }

.hero--wrapper {
    margin: 0px auto 45px;
    padding-bottom: 10px;
    border-bottom: 5px solid #F4DBD8;
}

i {
    font-size: 36px;
    color:#FFF;
    margin-bottom: 15px;
}

.folio-img {
    position: relative;
    height: 200px;
    width: 100;
    margin-bottom: 10px;
    opacity: 1;
    transition: all 300ms ease;
}

.folio-img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.aspectRatioBox {
    padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
    background-size: cover;
    background-position: center;
  }

.form-control {
    background-color: transparent;
    border-radius: 0px;
    border-left:0px;
    border-right: 0px;
    border-top: 0px;
}

.form-control,
.form-control:focus,
.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
    font-family: 'Airbnb Cereal App Medium';
    font-size: 14px;
    color: #FFF;
    margin-bottom: 0px;
    padding-left: 0px;
    background-color: transparent;
    box-shadow: none;
}

.form-control:focus {
    border-bottom-color: #F4DBD8;
}


.form-group {
    margin-bottom: 0px;
}

.form-group button {
    margin-top: 30px;
    font-family: 'Airbnb Cereal App Medium';
    font-size: 14px;
    background-color: #F4DBD8;
    border-radius: 0px;
    color: #333D48;
    border: 0px;
    min-width: 150px;
    padding: 8px;
}

.form-group button:hover {
    background-color: #fff;
    color: #333D48;
}

.form-group button:active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #fff;
    color: #333D48;
    border: none;
    box-shadow:none !important;

}

.btn-primary.focus, .btn-primary:focus {
    box-shadow:none;
}

.contact-p > p {
    margin-bottom: 0px;
}

@media screen and (max-width: 767px) { 
    h1 {
        font-size: 34px;
    }

    section {
        height: auto;
        padding: 80px 0;
    }

    .hero--wrapper {
        margin: 0px auto 30px;
    }

    .form-group button {
        min-width: 100%;
    }

    .description {
        margin-bottom: 30px;
    }

    .description.description-airbnb {
        margin-bottom: 0px;
    }
}